<%- include("header") -%>

<h2>A brief summary about list owner</h2>

<p>Hi, I'm Priyanshu Singhal from Kanpur, Uttar Pradesh. I did my schooling at Kids garden school, Shivpuri and Currently pursuing B.Tech from BIT Mesra in CSE Department. My Interests lie in Competitive Programming using C++, Web Development using MERN stack, Machine Learning using Python, Problem Solving and Learning New things. Currently, I am Working on my web Development Skills and Practicing DSA. My hobbies are cooking,reading books and Talking with new people. I play Cricket and TT whenever I am free.</p>
   
 <%- include("footer") -%>

